
.box-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header figure img{
 width: 90px;
 object-fit: cover;

}

header button{
  height: 34px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 2px solid #B2987D;
  cursor: pointer;
  
}

.img-button{
  width: 20px;
}

.modo-claro{
  background-color: #fff;
  color:#000;
}

.modo-escuro {
  background-color: #252323;
  color: #fff;
}

.banner{
  background-image: url('./assets/banner-barbearia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
}

.box-informacao {
  padding: 120px 0px;
}

.box-texto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.box-texto h1{
  margin: 20px;
  font-size: 40px;
}

.box-texto p, span{
  font-size: 22px;
  margin: 10px 20px;
}

.box-texto span{
  color:#B2987D
}
.box-texto p:nth-of-type(1){
  font-weight: 700;
}

.box-texto span:nth-of-type(1){
  font-family: "Great Vibes";
  font-size: 50px;
}

@media(max-width:768px){
  .box-texto p, span{
      font-size: 18px;
      
  }

  .box-header{
      margin: 0px 20px;
  }
  .box-texto p:nth-of-type(2){
      font-size: 16px;
  }

  
.banner{
  height: 40vh;
}
}

@media(max-width:375px){
  .banner{
      height: 38vh;
  }
  }